<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatme.com</title>
  <!--adding the custom link files-->
  <link rel="stylesheet" href="custom/css/bootstrap.css">
</head>

<body>
  
  
  
  
  
  
  
  <script src="custom/js/jquery.min.js"></script>
  <script src="custom/js/bootstrap.bundle.min.js"></script>
  <script src="custom/js/all.js"></script>
</body>

</html>